---
// Henter parametrene fra Astro.props
const { href = "#", target = "_self", variant = "text", size = "text" } = Astro.props;

// Styling for link
const linkStyling = "inline-block font-medium rounded-lg transition-colors";

// Variant klasser
const variantClasses = {
  primary: "text-white bg-blue-800 hover:bg-blue-700/80",
  secondary: "text-white bg-gray-800 hover:bg-gray-700/80",
  textlink: "text-blue-600 underline hover:text-blue-800", // tekstlink variant
};

// Size klasser
const sizeClasses = {
  large: "text-2xl py-4 px-6",
  medium: "text-xl py-3 px-4",
  small: "text-base py-2 px-3",
  text: "text-base", // tekstlink størrelse
};
---

<a href={href} target={target} class={`${linkStyling} ${variantClasses[variant]} ${sizeClasses[size]}`}>
  <slot />
</a>
